
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env.*.local.php
/.env.test
/.env.dev
/.env.prod
/.env
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> system files ###
.DS_Store
Thumbs.db
###< system files ###

###> logs ###
/var/logs/
/var/log/
/logs/
###< logs ###

###> cache ###
/var/cache/
/cache/
/tmp/
###< cache ###

###> IDE-specific ###
.vscode/
/.idea/
/*.iml
###< IDE-specific ###