{% extends 'base.html.twig' %}

{% block title %}Symfony ToDo{% endblock %}

{% block body %}
    <h1>A simple ToDo app</h1>
    <div>
        <h2>What you need ToDo:</h2>
        <ul>
            {% for todo in todos %}
                <li>
                    <input type="checkbox" name="todo" value="{{ todo.completed }}" {% if todo.completed %}checked{% endif %}>
                    {{ todo.title }} - {{ todo.description }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

