{% extends 'base.html.twig' %}

{% block title %}Symfony ToDo{% endblock %}

{% block body %}
    <h1>A simple ToDo app</h1>
    <div>
        <h2>What you need ToDo:</h2>
        <ul>
            
        </ul>
    </div>
    <script>
        // Fetch the list of todos from the API
        fetch('/api/todos')
            .then(response => response.json())
            .then(todos => {
                const list = document.querySelector('ul');

                // Add each todo to the list
                todos.forEach(todo => {
                    const item = document.createElement('li');
                    const checkbox = document.createElement('input');
                    checkbox.type = 'checkbox';

                    // If the todo is completed, check the checkbox
                    if (todo.completed) {
                        checkbox.checked = true;
                    }

                    // Append the checkbox, todo title and description to the list item
                    item.appendChild(checkbox);
                    item.append(` ${todo.title} - ${todo.description ?? ''}`);
                    list.appendChild(item);
                });
                
            })
            // Catch any errors and log them to the console
            .catch(error => {
                console.error('Error:', error);
            });
    </script>
{% endblock %}

